@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#app {
    font-family: 'Open Sans', sans-serif;
}
.btn-primary {  
    background-color: #46b5d0;
    border: 1px solid #46b5d0;
}
.btn-primary:hover {
    background-color: #46b5d0;
    border: 1px solid #46b5d0;
}
.customers-img {
    max-height: 100px;
    padding: 5px 0 5px 0;
}
.color-main {
    color: #46b5d0;
}
.color-main-light {
    color: #9FE0EF;
}
.color-main-dark {
    color: #058CAC;
}
.bg-main {
    background-color: #46b5d0;
}
.bg-main-light {
    background-color: #9FE0EF;
}
.bg-main-dark {
    background-color: #058CAC;
}
.banner {
    background: url("../../assets/img/banner.png") no-repeat center center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/img/banner.jpg'); */
    background-size: cover;
}
.header-content {
    /* position: absolute; */
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.footer-gradient {
    background-image: linear-gradient(to bottom right, #c8b19f, #d2c4b9);
}

/*********** Sidenav ************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color:  rgb(240 164 24); */
    background-color: rgb(23 97 160);
    opacity: .95;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 80px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #c8b19f;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#fff;
    font-size: 1.3em;
    font-weight: 1000;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 85px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
  }

  .closebtn:hover {
    font-size: 46px !important;
    top: 85px;
    font-weight: 1000;
  }
  /*********** Sidenav ************/

  .font-beauty {
    font-family: 'Kaushan Script', cursive;
  }
  h2, h3 {
    color: #f0a418; 
  }
  .text-main {
      color: #f0a418;
  }


